* { padding:0; margin:0; border:0; }
html, body { width:100%; min-height:100%; }
body { background:rgb(168, 149, 149); }
/* -------------------------- */
/* fonds */
.fixed {
	position: fixed;
	width: 100%; height: 100%;
  top:0; right:0; bottom:0; left:0;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
	background-position: center top;
}
#fixed1 {
	background-color: yellow;
	background-image: url(https://www.google.com/search?q=image&client=firefox-b-d&sxsrf=AJOqlzXnlPmIPtvDxOG_80OyyWjOhhOW5g:1676108294224&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj4w-37lY39AhW3UKQEHVDxBP4Q_AUoAXoECAEQAw&biw=3440&bih=1307&dpr=1#imgrc=7dmpjfGEZoXSVM);
}
#fixed2 {
	background-color: green;
	background-image: url(http://www.lostwallpapers.net/wallpaper/2011/02/c4df740bb6ot.com_.jpg.jpg);
}
#fixed3 {
	background-color: blue;
	background-image: url(http://img0.ndsstatic.com/wallpapers/b4b5060fe77e139a46e251371f79f948_large.jpeg);
}
#fixed4 {
	background-color: red;
	background-image: url(http://www.lostwallpapers.net/wallpaper/wallpaper-fonds-decran-Sensuous%20Beauties.jpg);
}
/* par defaut */
#fixed1 { display:block; } 
#fixed2, #fixed3, #fixed4 { display:none; } 

/* -------------------------- */
/* boutons */
#boutons ul {
  list-style:none;
  padding:10px;
  clear:both;
}
#boutons ul li {
  float:left;
}
#boutons a
{
  display: block;
  padding: 10px 15px;
  margin: 0 1px;
  font-family: 'PT Sans', sans-serif;
  text-decoration:none;
  color:orange; background-color:yellow; /* par defaut */
}
#boutons a:hover { text-decoration:none; }

#boutons.bts1 a { color:orange; background-color: yellow; }
#boutons.bts2 a { color:green; background-color: lightgreen; }
#boutons.bts3 a { color:blue; background-color: lightblue; }
#boutons.bts4 a { color:red; background-color: orange; }

#boutons.bts1 a#bt1, #boutons a#bt1:hover { color:yellow; background-color: orange; }
#boutons.bts2 a#bt2, #boutons a#bt2:hover { color:lightgreen; background-color: green; }
#boutons.bts3 a#bt3, #boutons a#bt3:hover { color:lightblue; background-color: blue; }
#boutons.bts4 a#bt4, #boutons a#bt4:hover { color:orange; background-color: red; }

