
  a {
    display: flex;
    justify-content: center;
    max-width: 190px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
    transition: 1s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  }
  
  a.button {
    color: #00bfff;
    box-shadow: #00bfff 0 0 0 4px inset;
  }
  
  a.button:hover {
    color: #fff;
   
  }
  .button:hover{
    background-color: black;
  }
  