*{
    box-sizing: border-box;
    margin: auto;
  
}


/* HEADER  */


.conteneur {
    display: grid;
    grid-template-columns: repeat(5, 1fr);/* je fait donc 5 colonnes avec une largeur de 1fr unité de mesure */
    grid-template-rows: repeat(5, 1fr); /* je fait donc 5 lignes avec une largeur de 1fr unité de mesure */
    grid-column-gap: 0px; /* espaces entre mes colonnes */
    grid-row-gap: 0px; /* espaces entre mes lignes */
  
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6; }
    .div2 { grid-area: 1 / 5 / 2 / 6; }
    .div3 { grid-area: 1 / 1 / 2 / 2; } 

.div1{
   background-color: black;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.div1 h2{
  color: aliceblue;
     
 }



.div2{
    height: 20vh;
    display: flex;   
   justify-content: center;/* ici je me sert de l'attribut "justify-content: centerpour mettre mon texte ou image au centre aux niveux de mon axe principal*/ 
   align-items: center; /* ici je me sert de l'attribut "align-items: center pour mettre mon texte ou image au centre aux niveux de chacque coté de ma div*/ 
   
}

.div3{
     width: 20vw;
     height: 20vh;
     display: flex;   
    justify-content: center;/* ici je me sert de l'attribut "justify-content: centerpour mettre mon texte ou image au centre aux niveux de mon axe principal*/ 
    align-items: center; /* ici je me sert de l'attribut "align-items: center pour mettre mon texte ou image au centre aux niveux de chacque coté de ma div*/ 
    
 }
 
/*  NAVBAR  */ 

nav {
    text-align: center;
  }
  .menu {
    display: inline-block;
  }
  .menu > li {
    float: left;
    color: #B3CF32;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-size: 17px;
  }
  .sub-menu {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  }
  .sub-menu li {
    font-size: 18px;
    background: rgba(0, 0, 0, 0.8);
    padding: 8px 0;
    color: rgb(180, 140, 20);
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    
  }

   a{
    text-decoration: none;
    color: rgb(180, 140, 20);
  }

  a:hover{
    color: #B3CF32;
  }


  .sub-menu li:hover {
    color: #B3CF32;
  }
  .menu > li:hover .sub-menu li {
    transform: scale(1);
  }
  .menu > li:hover .sub-menu {
    transform: scale(1);
  }


/*  BODY   */

body{
  background-color: black;
}



/* GALLERY */


.gallery {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    margin-top: -600px;
    }
    
    .photo1 { grid-area: 3 / 1 / 4 / 2; }
    .photo2 { grid-area: 3 / 2 / 4 / 3; }
    .photo3 { grid-area: 3 / 3 / 4 / 4; }
    .photo4 { grid-area: 3 / 4 / 4 / 5; } 


.photo1{
  box-shadow: 4px 4px 4px rgb(250, 249, 249);display: flex;
  flex-wrap: wrap;
}

.photo2{
  box-shadow: 4px 4px 4px rgb(250, 249, 249);
}
.photo3{
  box-shadow: 4px 4px 4px rgb(250, 249, 249);
}
.photo4{
  box-shadow: 4px 4px 4px rgb(250, 249, 249);
}




/* ROI LICHE */


.liche {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .roi { grid-area: 2 / 1 / 4 / 6; } 


    .roi {
      margin-top: -300px;
     width:100%;
     background-image: url("../img/roi-liche-header.webp");
     background-repeat: no-repeat;
     background-size: cover;
     height: 80vh;
    
    }

    .roi h1{
      display: flex;
      justify-content: center;
      color: white;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 1.5em;
      padding-top: 50px;
    }

    .roi button{
  background-color: #2e4c7c;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-size: 1.5em;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5%;
  box-shadow: 4px 4px 4px rgb(26, 25, 25)
 
    }


/*  carte  */

.carte {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 0px;
  }
  
  .carte1 { grid-area: 3 / 1 / 5 / 6; }
  .carte2 { grid-area: 3 / 1 / 5 / 2; }
  .carte3 { grid-area: 3 / 3 / 5 / 4; }
  .carte4 { grid-area: 3 / 4 / 5 / 5; }
  .carte5 { grid-area: 3 / 5 / 5 / 6; }
  .carte6 { grid-area: 3 / 2 / 5 / 3; } 


.carte1{
  width: auto;
  height: 20vh;
  background-color: white;
}

.carte2{
  width: 20vw;
  height: 50vh;
  background-color: rgb(20, 20, 20);
}

.carte3{
  width: 20vw;
  height: 50vh;
  background-color: rgb(20, 20, 20);
}

.carte4{
  width: 20vw;
  height: 50vh;
  background-color: rgb(20, 20, 20);
}









 /*   FOOTER   */


 .conteneur2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    }
    
    .div4 { grid-area: 5 / 1 / 6 / 6; }
    .div5 { grid-area: 5 / 1 / 6 / 2; }
    .div6 { grid-area: 5 / 5 / 6 / 6; } 

    
.div4{
    background-color: black;
     width: 100%;
     height: 20vh;
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
     
 }


 .div5{
     width: 20vw;
     height: 20vh;
     display: flex;  
     flex-wrap: nowrap; 
    justify-content: center;/* ici je me sert de l'attribut "justify-content: centerpour mettre mon texte ou image au centre aux niveux de mon axe principal*/ 
    align-items: center; /* ici je me sert de l'attribut "align-items: center pour mettre mon texte ou image au centre aux niveux de chacque coté de ma div*/ 
    
 }

 
 .div6{
      width: 20vw;
      height: 20vh;
      display: flex;
      flex-wrap: nowrap;  
     justify-content: center;/* ici je me sert de l'attribut "justify-content: centerpour mettre mon texte ou image au centre aux niveux de mon axe principal*/ 
     align-items: center; /* ici je me sert de l'attribut "align-items: center pour mettre mon texte ou image au centre aux niveux de chacque coté de ma div*/ 
     
     
  }
  

 @media screen and (max-width: 780px) {
    
.roi{
  display: flex;
  flex-wrap: wrap;
  background-image: url("../img/liche2.webp");
}
 }