.slideshow {
    width: 625px;
    margin: 0 auto;
    overflow: hidden;
    border: solid 1px white;
  }
  
  .slideshow-container  {
    width: 2500px;
    font-size: 0;
    transition: 1s ease;
    height: 225px;
   
  }
  
  .slideshow-container:hover {
    animation-play-state: paused;
  }
  
  img, .text-container {
    width: 625px;
    height: auto;
    display: inline-block;
    font-size: 16px;
    text-align: center;
  }
  
  .text-container {
    height: 225px;
    position: relative;
  }
  
  
  p {
    position: relative;
    top: -45%;
    padding: 5px;
  }
  
  .slide {
    animation: slide 24s ease infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    
    12.5% {
      transform: translateX(0%);
    }
    
    25% {
      transform: translateX(-25%);
    }
    
    37.5% {
      transform: translateX(-25%);
    }
    
    50% {
      transform: translateX(-50%);
    }
    
    62.5% {
      transform: translateX(-50%);
    }
    
    75% {
      transform: translateX(-75%);
    }
    
    87.5% {
      transform: translateX(-75%);
    }
    
    99% {
      transform: translateX(-75%);
    }
    
    100% {
      transform: translateX(0);
    }
  }
