.parent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 9px;
    }
    
    .div1 { grid-area: 1 / 4 / 8 / 6; }
    .div2 { grid-area: 7 / 4 / 8 / 5; }
    .div3 { grid-area: 7 / 5 / 8 / 6; }
    .div4 { grid-area: 6 / 5 / 7 / 6; }
    .div5 { grid-area: 6 / 4 / 7 / 5; }
    .div6 { grid-area: 5 / 4 / 6 / 5; }
    .div7 { grid-area: 5 / 5 / 6 / 6; }
    .div8 { grid-area: 4 / 5 / 5 / 6; }
    .div9 { grid-area: 4 / 4 / 5 / 5; }
    .div10 { grid-area: 3 / 4 / 4 / 5; }
    .div11 { grid-area: 3 / 5 / 4 / 6; }
    .div12 { grid-area: 2 / 5 / 3 / 6; }
    .div13 { grid-area: 2 / 4 / 3 / 5; }
    .div14 { grid-area: 1 / 4 / 2 / 5; }
    .div15 { grid-area: 1 / 5 / 2 / 6; } 


    .div1{
        width: auto;
        height: 50vh;

        display: block;
        justify-content: space-around;
        flex-wrap: nowrap;
        
        
    }

    .div2{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: aqua;
        display: flex;
        justify-content: center;
        text-align: center;
      
    }

    .div3{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: rgb(183, 16, 121);
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .div4{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: rgb(73, 21, 230);
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .div5{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: rgb(255, 0, 55);
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .div6{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: aqua;
        display: flex;
        justify-content: center;
        text-align: center;
      
    }

    .div7{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: rgb(183, 16, 121);
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .div8{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: rgb(73, 21, 230);
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .div9{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: rgb(255, 0, 55);
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .div10{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: rgb(112, 216, 8);
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .div11{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: rgb(180, 204, 21);
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .div12{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: rgb(255, 0, 55);
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .div13{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: rgb(255, 0, 55);
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .div14{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: rgb(255, 0, 55);
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .div15{
        width: auto;
        height: 5vh;
        border: 2px solid black;
        background-color: rgb(255, 0, 55);
        display: flex;
        justify-content: center;
        text-align: center;
    
    }


    .parent p{
        font-weight:bolder ;
       font-size: 1em;
    }