body{
    background-image: url(image/cosmic-background-with-colorful-laser-lights.jpg);
    
  }
  * {
    margin : 0;
    padding : 0;
  }
  #header {
    background-image: url(../img/chauve2.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;}
  #logo {
    display: flex;
    justify-content: center;
  }
  .logo {
    width: 200px;
    height: 200px;
    }
  nav{
        --hauteur-menu: 90px;
      }
      ul{
        margin: 0px;
        padding: 0px;
        font-family: Montserrat, sans-serif;
      }
      nav {
        width: 100%;
        font-size: 25px;
        position: sticky;
        top: 0;
        z-index: 1;
      }
      nav > ul {
        display: flex;
        text-align: center;
        box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
        height: var(--hauteur-menu);
      }
      nav ul {
        list-style-type: none;
      }
      nav > ul > li {
        background-color: rgb(0, 0, 0);
        position:relative;
        height: 100%;
        flex: 1;
      }
      nav > ul > li > a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      li a {
        text-decoration: none;
        color: rgb(255, 0, 0);
      }
      .menu-deroulant > a:after{
        content: 'â¯';
        font-size: 15px;
        margin-left: 7px;
        display: inline-block;
      }
      .sous-menu {
        margin-top: var(--hauteur-menu);
        width: 100%;
        text-align: left;
        background-color: rgb(0, 0, 0);
        border-radius: 2px;
        overflow: hidden;
        max-height: 0;
      }
      .sous-menu > li > a {
        height: 50px;
        padding-left: 20px;
        width: 100%;
        align-items: center;
        display: flex;
      }
      nav > ul > li:hover > a{
        color: #1500FF;
      }
      .sous-menu > li:hover {
        background-color: #1500FF;
      }
      .sous-menu > li:hover > a {
        color: rgb(0, 0, 0);
      }
      @keyframes rotationFleche {
        0% {
          transform: rotate(0deg);
        }
        100%{
          transform: rotate(360deg);
        }
      }
      .menu-deroulant:hover > a:after{
        animation: rotationFleche 0.2s linear forwards;
      }
      @keyframes apparitionSousMenu {
        0% {
          box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
          border-top: 3px solid #1100FF;
        }
        30% {
          box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
        }
        100% {
          max-height: 50em;
          border-top: 3px solid #1500FF;
          box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
        }
      }
      .menu-deroulant:hover > .sous-menu {
        animation: apparitionSousMenu 1s forwards;
      }
      h2{
        display: block;
        color: #FF0000;
        float: right;
      }




/* debut slider */
.slideshow {
    width: 625px;
    margin: 0 auto;
    overflow: hidden;
    border: solid 1px rgb(237, 20, 20);
    margin-top: 100px;
    z-index: -1;
  }
  
  .slideshow-container  {
    width: 2500px;
    font-size: 0;
    transition: 1s ease;
    height: 225px;
   
  }
  
  .slideshow-container:hover {
    animation-play-state: paused;
  }
  
  img, .text-container {
    width: 625px;

  }
  
  .text-container {
    height: 225px;
    position: relative;
  }
  

  .slide {
    animation: slide 24s ease infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    
    12.5% {
      transform: translateX(0%);
    }
    
    25% {
      transform: translateX(-25%);
    }
    
    37.5% {
      transform: translateX(-25%);
    }
    
    50% {
      transform: translateX(-50%);
    }
    
    62.5% {
      transform: translateX(-50%);
    }
    
    75% {
      transform: translateX(-75%);
    }
    
    87.5% {
      transform: translateX(-75%);
    }
    
    99% {
      transform: translateX(-75%);
    }
    
    100% {
      transform: translateX(0);
    }
  }
        /* fin slider */ 


          h1{
            padding-top: 250px;
            color: #FF0000;
            text-align: center;
          }
          #footer {
            background-image: url(../img/chauve2.jpg);
            display: flex;
            flex-direction: row;
            justify-content: space-between;}
          #logo {
            display: flex;
            justify-content: center;
          }
          .logo {
            width: 200px;
            height: 200px;
            }